/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Use Tailwind CSS directives */
/* Example: src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Apply styles in the base layer */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
  }

  table {
    /* Add any table-specific styles here */
  }

  th,
  td {
    @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
  }

  thead {
    @apply bg-neutral-100;
  }

  th {
    @apply font-semibold;
  }

  a {
    @apply text-sky-500 hover:underline;
  }
}
/* Example: Add these styles to your global styles or a component-specific stylesheet */

.glass-effect {
  backdrop-filter: blur(10px); /* Adjust the blur effect as needed */
  position: absolute;
  inset: 0;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
